.text-shadow {
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.4);
}

.navbar-font {
    font-family: 'Handlee', cursive;
}

nav .brand-logo {
    font-size: 2.2rem;
    font-weight: bold;
}

nav ul a {
    font-size: 1.3rem;
    font-weight: bold;
}

.background-color {
    background-color: #b9f6ca;
}

h4 {
    font-size: 2.28rem;
    font-weight: bold;
}

.sidenav li>a {
    font-size: 1.3rem;
    font-weight: bold;
}

.responsive-img {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #b9f6ca;
    opacity: 0.9;
}

.icon-size-color {
    font-size: 1.4rem;
    color: #2E7D32;
    padding-left: 1rem;
}

.dropdowntextpad {
    padding-left: 1rem;
}

.fa-blender {
    font-size: 1.8rem;
    padding-left: 10px;
}

.fa-apple-alt {
    font-size: 1.8rem;
    position: absolute;
    padding-left: 10px;
}

.fa-carrot {
    font-size: 1.8rem;
    position: absolute;
    padding-left: 10px;
}