body {
    background-color: #faeedc;
}

.text-shadow {
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.4);
}

.navbar-font {
    font-family: 'Handlee', cursive;
}

nav .brand-logo {
    font-size: 2.2rem;
    font-weight: bold;
}

nav ul a {
    font-size: 1.3rem;
    font-weight: bold;
}

.background-color {
    background-color: #b9f6ca;
}

h4 {
    font-size: 2.28rem;
    font-weight: bold;
}

.sidenav li>a {
    font-size: 1.3rem;
    font-weight: bold;
}

.hero {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
    background-color: #b9f6ca;
    opacity: 0.9;
}

.recipe {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipe-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-size-color {
    font-size: 1.4rem;
    color: #2E7D32;
    padding-left: 1rem;
}

.dropdowntextpad {
    padding-left: 1rem;
}

.fa-blender {
    font-size: 1.8rem;
    padding-left: 10px;
}

.fa-apple-alt {
    font-size: 1.8rem;
    position: absolute;
    padding-left: 10px;
}

.fa-carrot {
    font-size: 1.8rem;
    position: absolute;
    padding-left: 10px;
}

.center {
    flex: justify;
}

.card-panel {
    border-radius: 20px;
}

.card-panel-space {
    padding-top: 40px;
}

.login-text {
    color: #ff974d;
}

.login-btn {
    background-color: #e13767;
    border-radius: 8px;
}

.login-btn:hover {
   background-color: #f24a7a;
}

.login-header {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.login-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.back-to-top {
    padding-left: 5px;
}

.page-footer {
    background-color: #616161;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
}

.footer-icon-size {
    font-size: 2.2rem; 
}

.icon-hover:hover {
    color: #ff974d; 
}

.back-to-top-text:hover {
    color: #ff974d; 
}

.sign-up-hover:hover {
    color: #f24a7a; 
}

.btn-bottom-padding {
    padding-bottom: 1.2rem;
}

.bold-step {
    font-weight: bold;
}

.icon-padding-left {
    padding-left: 8px;
}

.table-radius-edges {
    border-radius: 5px;
}

.display-recipe-header-color {
    background-color: rgba(150, 156, 154, 0.2) !important;
}

.display-recipe-header-font {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}

.display-recipe-top-header {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.display-recipe-task-font {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.like-text-font {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 1.2rem;
}

.like-text-space {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.like-btn-div {
    padding-left: 0.5rem;
}

.like-btn {
    font-size: 0.8rem;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
}

.fa-thumbs-up {
    font-size: 1.2rem;
}

.allergen-status-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

.allergen-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
}

.icon-size-padding {
    font-size: 1.4rem;
    padding-right: 0.8rem;
}

.fa-user-plus {
    padding-right: 10px;
}

.fa-sign-in-alt {
    padding-right: 10px;
}