body {
    background-color: #fff7eb;
}

.text-shadow {
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.4);
}

.text-shadow-2 {
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 1);
}

.text-shadow-3 {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

.image-text {
    position: relative;
    color: white;
}

.image-text-font {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 5.4rem;
    color: #f5f5f5;
    background-color: rgba(140, 140, 140, 0.3);
    border-radius: 10px;
}

.image-text-font-3 {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 2.4rem;
    color: #f5f5f5;
    background-color: rgba(140, 140, 140, 0.2);
    border-radius: 10px;
}

.image-text-font-4 {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 2.2rem;
    color: black;
    display: none;
}

.image-text-font-5 {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 1.4rem;
    color: black;
    display: none;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-3 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-font {
    font-family: 'Handlee', cursive;
}

nav .brand-logo {
    font-size: 2.2rem;
    font-weight: bold;
}

nav ul a {
    font-size: 1.3rem;
    font-weight: bold;
}

.background-color {
    background-color: #b9f6ca;
}

h4 {
    font-size: 2.28rem;
    font-weight: bold;
}

.sidenav li>a {
    font-size: 1.3rem;
    font-weight: bold;
}

.hero {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
    background-color: #b9f6ca;
    opacity: 0.9;
}

.recipe {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 90% !important;
}

.recipe-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 33rem;
}

.icon-size-color {
    font-size: 1.4rem;
    color: #2E7D32;
    padding-left: 1rem;
}

.dropdowntextpad {
    padding-left: 1rem;
}

.fa-blender {
    font-size: 1.8rem;
    padding-left: 10px;
}

.fa-apple-alt {
    font-size: 1.8rem;
    position: absolute;
    padding-left: 10px;
}

.fa-carrot {
    font-size: 1.8rem;
    position: absolute;
    padding-left: 10px;
}

.center {
    flex: justify;
}

.card-panel {
    border-radius: 20px;
}

.card-panel-2 {
    border-radius: 30px;
}

.card-panel-space {
    padding-top: 40px;
}

.login-text {
    color: #ff974d;
}

.login-btn {
    background-color: #e13767;
    border-radius: 8px;
}

.login-btn:hover {
   background-color: #f24a7a;
}

.login-header {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.login-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.back-to-top {
    padding-left: 5px;
}

.page-footer {
    background-color: #616161;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
}

.footer-icon-size {
    font-size: 2.2rem; 
}

.icon-hover:hover {
    color: #ff974d; 
}

.back-to-top-text:hover {
    color: #ff974d; 
}

.sign-up-hover:hover {
    color: #f24a7a; 
}

.btn-bottom-padding {
    padding-bottom: 1.2rem;
}

.bold-step {
    font-weight: bold;
}

.icon-padding-left {
    padding-left: 8px;
}

.table-radius-edges {
    border-radius: 5px;
}

.display-recipe-header-color {
    background-color: rgba(150, 156, 154, 0.2) !important;
}

.display-recipe-header-font {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}

.display-recipe-header-font-2 {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 1.2rem;
}

.display-recipe-header-font-3 {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 1.8rem;
}

.display-recipe-top-header {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.display-recipe-task-font {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.like-text-font {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 1.2rem;
}

.like-text-space {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.like-btn-div {
    padding-left: 0.5rem;
}

.like-btn {
    font-size: 0.8rem;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
}

.fa-thumbs-up {
    font-size: 1.2rem;
}

.allergen-status-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

.allergen-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
}

.icon-size-padding {
    font-size: 1.4rem;
    padding-right: 0.8rem;
}

.icon-size-padding-2 {
    font-size: 1.4rem;
    padding-right: 0.8rem;
    padding-left: 0.6rem;
}

.fa-user-plus {
    padding-right: 10px;
}

.fa-sign-in-alt {
    padding-right: 10px;
}

.line-padding {
    padding-bottom: 30px;
}

.flash-font-style {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 2rem !important;
}

.flashes {
    background-color: rgba(40, 184, 50, 0.6);
    width: 22rem;
    border-radius: 8px;
    margin-top: 1rem;
}

.left-align {
    flex: left;
}

.heading-space {
    padding-bottom: 1.5rem;
}

.recipe-input-form {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.plus-btn {
    font-size: 0.8rem;
    height: 35px;
    line-height: 35px;
}

.plus-btn-padding {
    padding-top: 7rem;
}

.description-text {
    font-size: 0.8rem !important;
}

.description-text-2 {
    font-size: 1rem !important;
}

.plus-icon-size-padding-1 {
    font-size: 1.2rem !important;
    padding-right: 0.3rem !important;
}

.plus-icon-size-padding-2 {
    font-size: 0.9rem !important;
    padding-right: 0.2rem !important;
}

.icon-size-padding-3 {
    color: white;
    font-size: 1.2rem !important;
    padding-top: 0.4rem;
    padding-left: 20.4rem;
    cursor: pointer;
}

.hide-at-pg-load {
    display: none;
}

.ingredients-restrict {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10px;
}

.main-page-ingredients-space {
    padding-bottom: 22px;
}

.profile-buttons-restrict {
    padding-top: 20px;
}

.profile-buttons-div-restrict {
    padding-left: 25%;
    padding-right: 25%;
}

.icon-space-left {
    padding-right: 0.5rem;
}

.icon-space-right {
    padding-left: 0.5rem;
}

.open-recipe-icon {
    padding-left: 10px;
}

.open-recipe-text {
    padding-right: 10px;
}

.edit-recipe-icon {
    padding-left: 12px;
}

.edit-recipe-text {
    padding-right: 12px;
}

.username-color {
    color: blue;
}

.input-field-2 {
    margin-top: -2rem;
}
    
.search-icon-size {
    font-size: 1.8rem !important;
    top: 1.2rem !important
}

.main-heading-padding {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2rem;
}

.sub-heading-padding {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1rem;
}

.new-recipe-link {
    color: black;
}

.new-recipe-link:hover {
    color: blue;
}

.sidenavbut {
    display: inline-flex !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    height: 35px !important;
    line-height: 35px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.blender-img {
    height: 20rem;
}

@media only screen and (max-width: 1960px) {
    .image-text-font {
        font-size: 5.1rem;
    }
    .image-text-font-3 {
        font-size: 2.1rem;
    }
}

@media only screen and (max-width: 1770px) {
    .image-text-font {
        font-size: 4.5rem;
    }
    .image-text-font-3 {
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 1575px) {
    .image-text-font {
        font-size: 4rem;
    }
    .image-text-font-3 {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 1380px) {
    .image-text-font {
        font-size: 3.5rem;
    }
    .image-text-font-3 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1150px) {
    .image-text-font {
        font-size: 2.8rem;
    }
    .image-text-font-3 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 935px) {
    .image-text-font {
        display: none;
    }
    .image-text-font-3 {
        display: none;
    }
    .image-text-font-4 {
        display: block;
    }
    .image-text-font-5 {
        display: block;
    }
}