<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <!-- fontawesome css stylesheet link from cdnjs.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <!-- Link to local CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Smoothies Shakes & Juices</title>
</head>

<body>
    <header>
        <!-- Top Navbar -->
        <nav>
            <div class="nav-wrapper navbar-font text-shadow light-green accent-2">
                <a href="#!" class="brand-logo green-text text-darken-3"><i
                        class="fas fa-blender hide-on-med-and-down"></i>
                    SS & J<span class="hide-on-small-only"> Community</span><i class="fas fa-apple-alt hide-on-med-and-down"><i
                            class="fas fa-carrot hide-on-med-and-down"></i></i></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                        class="fas fa-bars green-text text-darken-3 outline"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_recipes') }}" class="green-text text-darken-3">Home</a></li>
                    <li><a href="#" class="green-text text-darken-3">Profile</a></li>
                    <li><a href="#" class="green-text text-darken-3">New Recipe</a></li>
                    <li><a href="#" class="green-text text-darken-3">Manage Categories</a></li>
                    <li><a href="#" class="green-text text-darken-3">Log In</a></li>
                    <li><a href="#" class="green-text text-darken-3">Log Out</a></li>
                    <li><a href="#" class="green-text text-darken-3">Register</a></li>
                </ul>
            </div>
        </nav>
        <!-- Mobile Side Navbar -->
        <ul class="sidenav navbar-font text-shadow background-color" id="mobile-demo">
            <li>
                <h4 class="center-align green-text text-darken-3">SS & J Community</h4>
            </li>
            <li><i class="fas fa-home icon-size-color"><a href="{{ url_for('get_recipes') }}"
                        class="green-text dropdowntextpad navbar-font text-darken-3">Home</a></i></li>
            <li><i class="fas fa-user icon-size-color"><a href="#"
                        class="green-text dropdowntextpad navbar-font text-darken-3">Profile</a></i></li>
            <li><i class="fas fa-folder-plus icon-size-color"><a href="#"
                        class="green-text dropdowntextpad navbar-font text-darken-3">New Recipe</a></i></li>
            <li><i class="fas fa-folder-open icon-size-color"><a href="#"
                        class="green-text dropdowntextpad navbar-font text-darken-3">Manage Categories</a></i></li>
            <li><i class="fas fa-sign-in-alt icon-size-color"><a href="#"
                        class="green-text dropdowntextpad navbar-font text-darken-3">Log In</a></i></li>
            <li><i class="fas fa-sign-out-alt icon-size-color"><a href="#"
                        class="green-text dropdowntextpad navbar-font text-darken-3">Log Out</a></i></li>
            <li><i class="fas fa-user-plus icon-size-color"><a href="#"
                        class="green-text dropdowntextpad navbar-font text-darken-3">Register</a></i></li>
        </ul>
    </header>
    <div>
        <img class="responsive-img" src="{{ url_for('static', filename='images/hero-image.png') }}" alt="smoothie">
    </div>

    {% block content %}
    {% endblock %}

    <!-- Compiled and minified Jquery script from code.jquery.com -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Link to local JS script -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>