{% extends "base.html" %}
{% block content %}


<div class="row card-panel-space ">
    <form class="col s12 m8 l6 offset-m2 offset-l3" method="POST" action="{{ url_for('display_recipe', task_id=task._id) }}">
        <div class="card-panel">
            <div class="center display-recipe-top-header"><span>{{ task.drink_name }}</span></div>
            <div class="center">
                <img class="responsive-img recipe-2 z-depth-2" src="{{ task.image_url }}" alt="smoothie shake or juice">
            </div>
            <div class="center"><span class="allergen-status-text">Allergen Status!</span><span>
                {% if task.allergen_warning == "Yes" %}
                    <div><span class="allergen-text">This recipe contains ingredients which are known to cause allergic reactions in large doses</span>
                    <i class="fas fa-exclamation-circle red-text text-accent-2 tooltipped" data-position="right"
                        data-tooltip="Allergy Alert Warning"></i></div>
                {% else %}
                    <div><span class="allergen-text"></span>This recipe does not contain ingredients known to cause allergic reactions</span>
                    <i class="fas fa-check-circle green-text text-accent-3 tooltipped" data-position="right"
                        data-tooltip="Safe Ingredients"></i></div>
                {% endif %}
            </span></div><br>
            {% if task.recommends == 0 %}
                <div class="center display-recipe-task-font"><span> Be the first to recommend this
                        recipe</span><i class="far fa-thumbs-up icon-padding-left"></i>
                </div><br>
            {% elif task.recommends == 1 %}
                {% if session.user %}
                    {% if session.user in task.user_likes %}
                        <div class="center display-recipe-task-font"><span> You have recommended this
                                recipe</span><i class="far fa-thumbs-up icon-padding-left"></i>
                        </div><br>
                        {% endif %}
                {% else %}
                    <div class="center display-recipe-task-font">{{ task.recommends }}<span> Person has recommended this
                            recipe</span><i class="far fa-thumbs-up icon-padding-left"></i>
                    </div><br>
                {% endif %}
            {% else %}
                {% if session.user %}
                    {% if session.user in task.user_likes %}
                        <div class="center display-recipe-task-font">{{ task.recommends }}<span> People have recommended this
                                recipe including you</span><i class="far fa-thumbs-up icon-padding-left"></i>
                        </div><br>
                        {% endif %}
                {% else %}
                    <div class="center display-recipe-task-font">{{ task.recommends }}<span> People have recommended this
                            recipe</span><i class="far fa-thumbs-up icon-padding-left"></i>
                    </div><br>
                {% endif %}
            {% endif %}
            <div class="center display-recipe-task-font"><span>Submitted By: </span><span>{{ task.created_by }}</span>
            </div><br>
            <ul class="collection with-header table-radius-edges z-depth-1">
                <li class="collection-header display-recipe-header-color">
                    <i class="fas fa-layer-group icon-size-padding"></i><span class="display-recipe-header-font">Category</span>
                </li>
                <li class="collection-item"><span class="display-recipe-task-font">{{ task.main_component_type }}</span>
                </li>
            </ul>
            <ul class="collection with-header table-radius-edges z-depth-1">
                <li class="collection-header display-recipe-header-color">
                    <i class="fas fa-tools icon-size-padding"></i><span class="display-recipe-header-font">Skill Level (1-10)</span>
                </li>
                <li class="collection-item"><span class="display-recipe-task-font">{{ task.difficulty_level }}</span>
                </li>
            </ul>
            <ul class="collection with-header table-radius-edges z-depth-1">
                <li class="collection-header display-recipe-header-color">
                    <i class="fas fa-clock icon-size-padding"></i><span class="display-recipe-header-font">Preparation Time</span>
                </li>
                <li class="collection-item"><span
                        class="display-recipe-task-font">{{ task.preparation_time }}</span><span> minutes</span></li>
            </ul>
            <ul class="collection with-header table-radius-edges z-depth-1">
                <li class="collection-header display-recipe-header-color">
                    <i class="fas fa-sitemap fa-flip-vertical icon-size-padding"></i><span class="display-recipe-header-font">Ingredients</span>
                </li>
                <li class="collection-item"><span class="display-recipe-task-font">{{ task.ingredients }}</span></li>
            </ul>
            <ul class="collection with-header table-radius-edges z-depth-1">
                <li class="collection-header display-recipe-header-color">
                    <i class="fas fa-book icon-size-padding"></i><span class="display-recipe-header-font">Preparation Steps</span>
                </li>
                {% if task.step1 != "" %}
                    <li class="collection-item"><span class="bold-step">Step 1: </span><span
                            class="display-recipe-task-font">{{ task.step1 }}</span></li>
                {% endif %}
                {% if task.step2 != "" %}
                    <li class="collection-item"><span class="bold-step">Step 2: </span><span
                            class="display-recipe-task-font">{{ task.step2 }}</span></li>
                {% endif %}
                {% if task.step3 != "" %}
                    <li class="collection-item"><span class="bold-step">Step 3: </span><span
                            class="display-recipe-task-font">{{ task.step3 }}</span></li>
                {% endif %}
                {% if task.step4 != "" %}
                    <li class="collection-item"><span class="bold-step">Step 4: </span><span
                            class="display-recipe-task-font">{{ task.step4 }}</span></li>
                {% endif %}
                {% if task.step5 != "" %}
                    <li class="collection-item"><span class="bold-step">Step 5: </span><span
                            class="display-recipe-task-font">{{ task.step5 }}</span></li>
                {% endif %}
                {% if task.step6 != "" %}
                    <li class="collection-item"><span class="bold-step">Step 6: </span><span
                            class="display-recipe-task-font">{{ task.step6 }}</span></li>
                {% endif %}
                {% if task.step7 != "" %}
                    <li class="collection-item"><span class="bold-step">Step 7: </span><span
                            class="display-recipe-task-font">{{ task.step7 }}</span></li>
                {% endif %}
                {% if task.step8 != "" %}
                    <li class="collection-item"><span class="bold-step">Step 8: </span><span
                            class="display-recipe-task-font">{{ task.step8 }}</span></li>
                {% endif %}
                {% if task.step9 != "" %}
                    <li class="collection-item"><span class="bold-step">Step 9: </span><span
                            class="display-recipe-task-font">{{ task.step9 }}</span></li>
                {% endif %}
                {% if task.step10 != "" %}
                    <li class="collection-item"><span class="bold-step">Step 10: </span><span
                            class="display-recipe-task-font">{{ task.step10 }}</span></li>
                {% endif %}
            </ul>
            {% if userpresent == 0 %}
                <div class="center like-text-space">
                    <span class="like-text-font">If you enjoyed this delicious recipe please let us know by clicking the like button</span><span class="like-btn-div">
                        <a class="waves-effect waves-light btn green accent-1 green-text text-darken-3 like-btn" 
                        href="{{ url_for('update_likes', task_id=task._id) }}" type="submit" name="action"><b>Like</b></a></span>
                </div>
                <div class="line-padding">
                    <hr>
                </div>
            {% endif %}
            <div class="center btn-bottom-padding">
            {% if session.user %}
                <a class="waves-effect waves-light green accent-1 green-text text-darken-3 btn-small"
                    href="{{ url_for('get_recipes') }}"><i class="far fa-arrow-alt-circle-left icon-space-left"></i><b>To Recipes</b></a>           
                <a class="waves-effect waves-light orange lighten-4 orange-text text-darken-4 btn-small"
                    href="{{ url_for('profile', username=session['user']) }}"><b>To Profile</b><i class="far fa-arrow-alt-circle-right icon-space-right"></i></a>
            {% else %}
                <a class="waves-effect waves-light green accent-1 green-text text-darken-3 btn-large"
                    href="{{ url_for('get_recipes') }}"><i class="far fa-arrow-alt-circle-left icon-space-left"></i><b>To Recipes</b></a>
            {% endif %}       
            </div>
        </div>
    </form>
</div>


{% endblock %}