{% extends "base.html" %}
{% block content %}

<div>
    <img class="responsive-img hero" src="{{ url_for('static', filename='images/hero-image.jpg') }}" alt="smoothie">
</div>

<div class="row card-panel-space ">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="card-panel">
            <div class="center display-recipe-top-header"><span>User Submitted Recipes</span></div>
            <div class="line-padding">
                <hr>
            </div>
            {% for task in recipes %}
            <div class="center display-recipe-header-font-3"><span>{{ task.drink_name }}</span></div>
            <div class="center display-recipe-task-font"><span>Submitted By: </span><span>{{ task.created_by }}</span>
            </div>
            <div class="center display-recipe-task-font">{{ task.recommends }}<span> People have reccomended this
                    recipe</span><i class="far fa-thumbs-up icon-padding-left"></i>
            </div>
            <img class="responsive-img recipe center" src="{{ task.image_url }}" alt="smoothie shake or juice">
            <div class="center display-recipe-header-font"><span>Ingredients:</span></div>
            <div class="center ingredients-restrict display-recipe-header-font-2"><span>{{ task.ingredients }}</span></div>
            <div class="center btn-bottom-padding">
                <a class="waves-effect waves-light green accent-1 green-text text-darken-3 btn-large"
                    href="{{ url_for('display_recipe', task_id=task._id) }}"><i class="fas fa-book-reader plus-icon-size-padding-1"></i><b>See Full Recipe</b></a>
            </div>
            <div class="line-padding">
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}